{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoModificable %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Inicio de página!</h1>
                            <p>{{mensaje}}</p>  
                        </div>
                    </div>
                </div>
            </div>
        </header>


{% endblock %}
        
